.filtration__page {
    position: relative;

    padding: 50px
}

.filtration__container {
    .container ();
}

.filtration__dark {
    background-color: rgb(110, 110, 110);
}

.filtration__white {
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 20px;
    right: -50px;

    width: 50px;
    height: 25px;
    
    border-radius: 20px;
    box-shadow: -1px 0px 8px 9px rgba(163, 163, 163, 0.5);

    display: flex;
    align-items: center;
}

.filtration__dark-theme {
    transform: translateX(25px);
}

.filtration__btn-toggle-wrapper {
    position: absolute;
    top: 104px;
    right: 5px;

    width: 50px;
    height: 25px;
    
    border-radius: 20px;
    box-shadow: -1px 0px 8px 9px rgba(163, 163, 163, 0.5);

    display: flex;
    align-items: center;

    background-color: rgb(75, 75, 75);
    
}


.filtration__btn-toggle {
    .btn ();

    width: 20px;
    height: 20px;

    margin: 2px;

    border-radius: 50%;
    border: none;
    
    background-color: rgb(255, 255, 255);
    transition: background-color 0.3s;
}

.filtration__btn-list {
    display: flex;
    flex-wrap: wrap;

    column-gap: 15px;
    row-gap: 10px;

    .reset-styles-ol ();
    padding: 50px 5px;
    margin: 0;
}

// .filtration__btn-item {
// }

.filtration__search-form {
    display: flex;
    column-gap: 5px;

    margin-top: 35px;
}

.filtration__search-input {
    padding: 10px 15px;
}

.filtration__search-btn {
    .btn ();

    padding: 10px;
}

.filtration__btn-filter {
    .btn ();

    padding: 5px 10px;
}

.filtration__card-wrapper {
    .reset-styles-ol ();
    padding: 20px 5px;
}

.filtration__card-product-list {
    .reset-styles-ol ();
    margin: 0;
    padding: 0 25px;

    display: flex;
    column-gap: 15px;
    flex-wrap: wrap;
    row-gap: 20px;
}

.filtration__card-product-Item {
    display: grid;
    grid-row-gap: 10px;
    width: 400px;
} 

.filtration__card-product-name {
    .title ();

    font-size: 20px;
}

.filtration__card-product-price {
    .font ();
    
    margin: 0;

    color: orange;
}

.filtration__add-button {
    .btn ();

    width: 360px;
    
    padding: 5px;
}


// Корзина 

.filtration__cart-wrapper {
    position: fixed;
    top: 217px;
    right: 8px;

    padding: 50px;

    box-sizing: border-box;

    width: 500px;
    max-height: 500px;

    overflow-y: auto;
    
    border-radius: 5px;

    background-color: #fff;
}

.filtration__cart-title {
    margin: 0;
    margin-bottom: 50px;
}

.filtration__cart-item {
    width: 300px;
    border: 1px solid orange;
    
    text-align: center;
}

.filtration__cart-remove-btn {
    padding: 5px;
    
    .btn ();
}